body {
    padding: 10px;
}

.button-select {
    margin-right: 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-dir {
    margin-left: 1rem;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.labelInline {
    display: inline;
}

.links {
    position: fixed;
    bottom: 5px;
    right: 8px;
    z-index: 888;
    background-color: #fff;
}